.header-button {
    color: #fff;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    width: 158px;
    height: 40px;
    flex-shrink: 0;
    background: #000;
  }